<h1>Burger Time</h1>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}

        <form action="/{{this.id}}?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit">Delete</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add a Burger Ingredient</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="burger_name"></textarea>
	<button type="submit">Save burger_name!</button>
</form>

<h2>Update an Ingredient</h2>
<form action="/?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="burgers" placeholder="what do you want to update this burgers title to?"></textarea>
	<button type="submit">Update burgers!</button>
</form>
