<h1>Burger Time</h1>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit">DEVOUR</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add a Burger Ingredient</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="burger_name"></textarea>
	<button type="submit">Save burger_name!</button>
</form>

